#head{
  margin-left: 48%;
  margin-top: 20px;
  font-size: 20px;
}
#kaki{
 margin-left: 35%;
 margin-top: 80px;
  background-color: white;
  list-style-type: none;
}
#kaki a{
  color: black;
    text-decoration: none;
    float: left;
    margin-left: 20px;
}

#kaki a:hover{
    color: #3273dc;
    text-decoration: none;
    float: left;
    margin-left: 20px;
}
.badan{
  background: #F2F2F2;
  margin-bottom: 40px;
}

.nav{
  margin-top: 3px;
}
.img{
  margin-top: 20px;
  max-width: 500px;
}
.theme{
  margin-left: 39%;
}


.theme .harga{

  margin-left: 20px;
}

#garis{
margin-left:30%;
margin-top: 1px;
margin-bottom: 1px;
width: 40%;
height: 3px;
border-radius: 5px;
background-color: #3273dc;

}
.box_product{
  margin-left: 30px;
}
.judul{
  margin-top: 30px;
  font-size: 36px;
  padding-bottom: 5px;
}

.hargaper{

  font-size: 24px;
  padding-bottom: 30px;
}

.garis{
  margin-top: 1px;
  margin-bottom: 1px;
  width: 400px;
  height: 3px;
  border-radius: 5px;
  background-color: #3273dc;
}

.quantity{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 32px;
}

.label{
  margin-top: 20px;
}

.nav-tabs{
  background-color: #FFFFFF;
}

.add{
  border-radius: 100px;
  margin-top: 20px;
  width: 110px;
  height: 50px;
  color: white;
  font-size: 12px;
}
